/* Estilos Gerais */

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #fefae0;
    font-size: 14px;
}

/* Barra de Navegação */

header, .navbar{
    background-color: #fefae0;
    height: 60px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 180px;
}

#navbar-links a{
    color: #dda15e;
}

#navbar-links a:hover{
    color: #bc6c25;
}

.nav-expand-lg .nav-nav .nav-link{
    padding: 1 rem .8rem;
}

/* Barra de Navegação */

.container-fluid{
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

.carousel-indicators .active{
    background-color: #bc6c25;
}

/* Cards conheça */

#conheça, h2{
    color: rgb(31, 31, 31);
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    height: 100px;    
}

.color1{
    color: #09c203;
    font-weight: bold;
}